# **General steps in Data preparations:**

## ***Talend***
1. Gather data/ Data ingestion
2. Discover and assess data
3. Cleanse and validate data
4. Transform and enrich data
5. Store data

## ***Pecan***
1. Data ingestion
2. Data cleansing
3. Data transformation 
4. Data splitting 
5. Data augmentation

## ***Geeksforgeeks***
1. Describe Purpose and Requirements
2. Data Collection
3. Data Combining and Integrating Data
4. Data Profiling
5. Data Exploring
6. Data Transformations and Enrichment
7. Data Validation

# **Data preparations pipeline**
1. Describe Purpose and Requirements
2. Data Collection
3. Data Combining and Integrating Data
4. Data Profiling
5. Data Exploring
6. Data Transformations and Enrichment
7. Data Validation

In [1]:
import pandas as pd

# **STEP 3: Data Combining and Integrating Data**

dataset đang được chia thành `train.csv` và `test.csv`
> xem có cần phải gộp vào để xử lí không

# **STEP 4: Data cleaning/Data Profiling**

In [20]:
df_test = pd.read_csv('statistella/test.csv')

In [21]:
missing_summary_test = pd.DataFrame({
    'missing_count': df_test.isnull().sum(),
    'missing_percent': df_test.isnull().mean() * 100
})

missing_summary_test

                              missing_count  missing_percent
ID                                        0         0.000000
NAME_CONTRACT_TYPE                        0         0.000000
CODE_GENDER                               0         0.000000
FLAG_OWN_CAR                              0         0.000000
FLAG_OWN_REALTY                           0         0.000000
CNT_CHILDREN                              0         0.000000
AMT_INCOME_TOTAL                          0         0.000000
AMT_CREDIT                                0         0.000000
AMT_ANNUITY                               3         0.003252
AMT_GOODS_PRICE                         104         0.112733
NAME_TYPE_SUITE                         410         0.444430
NAME_INCOME_TYPE                          0         0.000000
NAME_EDUCATION_TYPE                       0         0.000000
NAME_FAMILY_STATUS                        0         0.000000
NAME_HOUSING_TYPE                         0         0.000000
REGION_POPULATION_RELATIVE                0         0.000000
DAYS_BIRTH                                0         0.000000
DAYS_EMPLOYED                             0         0.000000
DAYS_REGISTRATION                         0         0.000000
DAYS_ID_PUBLISH                           0         0.000000
OWN_CAR_AGE                           60825        65.932815
FLAG_MOBIL                                0         0.000000
FLAG_EMP_PHONE                            0         0.000000
FLAG_WORK_PHONE                           0         0.000000
FLAG_CONT_MOBILE                          0         0.000000
FLAG_PHONE                                0         0.000000
FLAG_EMAIL                                0         0.000000
OCCUPATION_TYPE                       28727        31.139367
CNT_FAM_MEMBERS                           0         0.000000
REGION_RATING_CLIENT                      0         0.000000
REGION_RATING_CLIENT_W_CITY               0         0.000000
WEEKDAY_APPR_PROCESS_START                0         0.000000
HOUR_APPR_PROCESS_START                   0         0.000000
REG_REGION_NOT_LIVE_REGION                0         0.000000
REG_REGION_NOT_WORK_REGION                0         0.000000
LIVE_REGION_NOT_WORK_REGION               0         0.000000
REG_CITY_NOT_LIVE_CITY                    0         0.000000
REG_CITY_NOT_WORK_CITY                    0         0.000000
LIVE_CITY_NOT_WORK_CITY                   0         0.000000
ORGANIZATION_TYPE                         0         0.000000
EXT_SOURCE_1                          51949        56.311448
EXT_SOURCE_2                            185         0.200535
EXT_SOURCE_3                          18217        19.746783
APARTMENTS_AVG                        46732        50.656347
BASEMENTAREA_AVG                      53871        58.394849
YEARS_BEGINEXPLUATATION_AVG           44980        48.757222
YEARS_BUILD_AVG                       61340        66.491063
COMMONAREA_AVG                        64365        69.770089
ELEVATORS_AVG                         49114        53.238377
ENTRANCES_AVG                         46392        50.287796
FLOORSMAX_AVG                         45867        49.718708
FLOORSMIN_AVG                         62565        67.818933
LANDAREA_AVG                          54701        59.294549
LIVINGAPARTMENTS_AVG                  63024        68.316478
LIVINGAREA_AVG                        46258        50.142543
NONLIVINGAPARTMENTS_AVG               64059        69.438392
NONLIVINGAREA_AVG                     50856        55.126663
APARTMENTS_MODE                       46732        50.656347
BASEMENTAREA_MODE                     53871        58.394849
YEARS_BEGINEXPLUATATION_MODE          44980        48.757222
YEARS_BUILD_MODE                      61340        66.491063
COMMONAREA_MODE                       64365        69.770089
ELEVATORS_MODE                        49114        53.238377
ENTRANCES_MODE                        46392        50.287796
FLOORSMAX_MODE                        45867        49.718708
FLOORSMIN_MODE                        62565        67.818933
LANDAREA_MODE                         54701        59.294549
LIVINGAPARTMENTS_MODE                 63024        68.316478
LIVINGAREA_MODE                       46258        50.142543
NONLIVINGAPARTMENTS_MODE              64059        69.438392
NONLIVINGAREA_MODE                    50856        55.126663
APARTMENTS_MEDI                       46732        50.656347
BASEMENTAREA_MEDI                     53871        58.394849
YEARS_BEGINEXPLUATATION_MEDI          44980        48.757222
YEARS_BUILD_MEDI                      61340        66.491063
COMMONAREA_MEDI                       64365        69.770089
ELEVATORS_MEDI                        49114        53.238377
ENTRANCES_MEDI                        46392        50.287796
FLOORSMAX_MEDI                        45867        49.718708
FLOORSMIN_MEDI                        62565        67.818933
LANDAREA_MEDI                         54701        59.294549
LIVINGAPARTMENTS_MEDI                 63024        68.316478
LIVINGAREA_MEDI                       46258        50.142543
NONLIVINGAPARTMENTS_MEDI              64059        69.438392
NONLIVINGAREA_MEDI                    50856        55.126663
FONDKAPREMONT_MODE                    63077        68.373928
HOUSETYPE_MODE                        46198        50.077504
TOTALAREA_MODE                        44490        48.226074
WALLSMATERIAL_MODE                    46850        50.784256
EMERGENCYSTATE_MODE                   43709        47.379489
OBS_30_CNT_SOCIAL_CIRCLE                309         0.334948
DEF_30_CNT_SOCIAL_CIRCLE                309         0.334948
OBS_60_CNT_SOCIAL_CIRCLE                309         0.334948
DEF_60_CNT_SOCIAL_CIRCLE                309         0.334948
DAYS_LAST_PHONE_CHANGE                    0         0.000000
FLAG_DOCUMENT_2                           0         0.000000
FLAG_DOCUMENT_3                           0         0.000000
FLAG_DOCUMENT_4                           0         0.000000
FLAG_DOCUMENT_5                           0         0.000000
FLAG_DOCUMENT_6                           0         0.000000
FLAG_DOCUMENT_7                           0         0.000000
FLAG_DOCUMENT_8                           0         0.000000
FLAG_DOCUMENT_9                           0         0.000000
FLAG_DOCUMENT_10                          0         0.000000
FLAG_DOCUMENT_11                          0         0.000000
FLAG_DOCUMENT_12                          0         0.000000
FLAG_DOCUMENT_13                          0         0.000000
FLAG_DOCUMENT_14                          0         0.000000
FLAG_DOCUMENT_15                          0         0.000000
FLAG_DOCUMENT_16                          0         0.000000
FLAG_DOCUMENT_17                          0         0.000000
FLAG_DOCUMENT_18                          0         0.000000
FLAG_DOCUMENT_19                          0         0.000000
FLAG_DOCUMENT_20                          0         0.000000
FLAG_DOCUMENT_21                          0         0.000000
AMT_REQ_CREDIT_BUREAU_HOUR            12447        13.492244
AMT_REQ_CREDIT_BUREAU_DAY             12447        13.492244
AMT_REQ_CREDIT_BUREAU_WEEK            12447        13.492244
AMT_REQ_CREDIT_BUREAU_MON             12447        13.492244
AMT_REQ_CREDIT_BUREAU_QRT             12447        13.492244
AMT_REQ_CREDIT_BUREAU_YEAR            12447        13.492244

In [2]:
df_orig = pd.read_csv('statistella/train.csv')
df_orig.head(5)

,ID,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,196348,0,Cash loans,F,N,Y,2,225000.0,785398.5,33403.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
1,147976,0,Cash loans,M,N,Y,0,90000.0,592560.0,35937.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,52662,0,Revolving loans,F,N,Y,1,126000.0,202500.0,10125.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
3,101577,0,Cash loans,F,N,Y,0,157500.0,254700.0,18531.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,173078,0,Cash loans,F,Y,N,0,540000.0,1252363.5,47830.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,5.0

In [12]:
total_cols = len(df_orig.columns)
total_rows = len(df_orig)
df_orig.shape

(215258, 122)

In [4]:
pd.set_option('display.max_rows', None) 
pd.set_option('display.max_columns', None) 
pd.set_option('display.width', None)

In [5]:
missing_summary = pd.DataFrame({
    'missing_count': df_orig.isnull().sum(),
    'missing_percent': df_orig.isnull().mean() * 100
})

missing_summary

                              missing_count  missing_percent
ID                                        0         0.000000
TARGET                                    0         0.000000
NAME_CONTRACT_TYPE                        0         0.000000
CODE_GENDER                               0         0.000000
FLAG_OWN_CAR                              0         0.000000
FLAG_OWN_REALTY                           0         0.000000
CNT_CHILDREN                              0         0.000000
AMT_INCOME_TOTAL                          0         0.000000
AMT_CREDIT                                0         0.000000
AMT_ANNUITY                               9         0.004181
AMT_GOODS_PRICE                         174         0.080833
NAME_TYPE_SUITE                         882         0.409741
NAME_INCOME_TYPE                          0         0.000000
NAME_EDUCATION_TYPE                       0         0.000000
NAME_FAMILY_STATUS                        0         0.000000
NAME_HOUSING_TYPE                         0         0.000000
REGION_POPULATION_RELATIVE                0         0.000000
DAYS_BIRTH                                0         0.000000
DAYS_EMPLOYED                             0         0.000000
DAYS_REGISTRATION                         0         0.000000
DAYS_ID_PUBLISH                           0         0.000000
OWN_CAR_AGE                          142104        66.015665
FLAG_MOBIL                                0         0.000000
FLAG_EMP_PHONE                            0         0.000000
FLAG_WORK_PHONE                           0         0.000000
FLAG_CONT_MOBILE                          0         0.000000
FLAG_PHONE                                0         0.000000
FLAG_EMAIL                                0         0.000000
OCCUPATION_TYPE                       67664        31.433907
CNT_FAM_MEMBERS                           2         0.000929
REGION_RATING_CLIENT                      0         0.000000
REGION_RATING_CLIENT_W_CITY               0         0.000000
WEEKDAY_APPR_PROCESS_START                0         0.000000
HOUR_APPR_PROCESS_START                   0         0.000000
REG_REGION_NOT_LIVE_REGION                0         0.000000
REG_REGION_NOT_WORK_REGION                0         0.000000
LIVE_REGION_NOT_WORK_REGION               0         0.000000
REG_CITY_NOT_LIVE_CITY                    0         0.000000
REG_CITY_NOT_WORK_CITY                    0         0.000000
LIVE_CITY_NOT_WORK_CITY                   0         0.000000
ORGANIZATION_TYPE                         0         0.000000
EXT_SOURCE_1                         121429        56.410912
EXT_SOURCE_2                            475         0.220665
EXT_SOURCE_3                          42748        19.858960
APARTMENTS_AVG                       109329        50.789750
BASEMENTAREA_AVG                     126072        58.567858
YEARS_BEGINEXPLUATATION_AVG          105027        48.791218
YEARS_BUILD_AVG                      143148        66.500664
COMMONAREA_AVG                       150500        69.916101
ELEVATORS_AVG                        114777        53.320666
ENTRANCES_AVG                        108436        50.374899
FLOORSMAX_AVG                        107153        49.778870
FLOORSMIN_AVG                        146077        67.861357
LANDAREA_AVG                         127889        59.411961
LIVINGAPARTMENTS_AVG                 147175        68.371443
LIVINGAREA_AVG                       108092        50.215091
NONLIVINGAPARTMENTS_AVG              149455        69.430637
NONLIVINGAREA_AVG                    118826        55.201665
APARTMENTS_MODE                      109329        50.789750
BASEMENTAREA_MODE                    126072        58.567858
YEARS_BEGINEXPLUATATION_MODE         105027        48.791218
YEARS_BUILD_MODE                     143148        66.500664
COMMONAREA_MODE                      150500        69.916101
ELEVATORS_MODE                       114777        53.320666
ENTRANCES_MODE                       108436        50.374899
FLOORSMAX_MODE                       107153        49.778870
FLOORSMIN_MODE                       146077        67.861357
LANDAREA_MODE                        127889        59.411961
LIVINGAPARTMENTS_MODE                147175        68.371443
LIVINGAREA_MODE                      108092        50.215091
NONLIVINGAPARTMENTS_MODE             149455        69.430637
NONLIVINGAREA_MODE                   118826        55.201665
APARTMENTS_MEDI                      109329        50.789750
BASEMENTAREA_MEDI                    126072        58.567858
YEARS_BEGINEXPLUATATION_MEDI         105027        48.791218
YEARS_BUILD_MEDI                     143148        66.500664
COMMONAREA_MEDI                      150500        69.916101
ELEVATORS_MEDI                       114777        53.320666
ENTRANCES_MEDI                       108436        50.374899
FLOORSMAX_MEDI                       107153        49.778870
FLOORSMIN_MEDI                       146077        67.861357
LANDAREA_MEDI                        127889        59.411961
LIVINGAPARTMENTS_MEDI                147175        68.371443
LIVINGAREA_MEDI                      108092        50.215091
NONLIVINGAPARTMENTS_MEDI             149455        69.430637
NONLIVINGAREA_MEDI                   118826        55.201665
FONDKAPREMONT_MODE                   147218        68.391419
HOUSETYPE_MODE                       108099        50.218343
TOTALAREA_MODE                       103941        48.286707
WALLSMATERIAL_MODE                   109491        50.865009
EMERGENCYSTATE_MODE                  102046        47.406368
OBS_30_CNT_SOCIAL_CIRCLE                712         0.330766
DEF_30_CNT_SOCIAL_CIRCLE                712         0.330766
OBS_60_CNT_SOCIAL_CIRCLE                712         0.330766
DEF_60_CNT_SOCIAL_CIRCLE                712         0.330766
DAYS_LAST_PHONE_CHANGE                    1         0.000465
FLAG_DOCUMENT_2                           0         0.000000
FLAG_DOCUMENT_3                           0         0.000000
FLAG_DOCUMENT_4                           0         0.000000
FLAG_DOCUMENT_5                           0         0.000000
FLAG_DOCUMENT_6                           0         0.000000
FLAG_DOCUMENT_7                           0         0.000000
FLAG_DOCUMENT_8                           0         0.000000
FLAG_DOCUMENT_9                           0         0.000000
FLAG_DOCUMENT_10                          0         0.000000
FLAG_DOCUMENT_11                          0         0.000000
FLAG_DOCUMENT_12                          0         0.000000
FLAG_DOCUMENT_13                          0         0.000000
FLAG_DOCUMENT_14                          0         0.000000
FLAG_DOCUMENT_15                          0         0.000000
FLAG_DOCUMENT_16                          0         0.000000
FLAG_DOCUMENT_17                          0         0.000000
FLAG_DOCUMENT_18                          0         0.000000
FLAG_DOCUMENT_19                          0         0.000000
FLAG_DOCUMENT_20                          0         0.000000
FLAG_DOCUMENT_21                          0         0.000000
AMT_REQ_CREDIT_BUREAU_HOUR            29072        13.505654
AMT_REQ_CREDIT_BUREAU_DAY             29072        13.505654
AMT_REQ_CREDIT_BUREAU_WEEK            29072        13.505654
AMT_REQ_CREDIT_BUREAU_MON             29072        13.505654
AMT_REQ_CREDIT_BUREAU_QRT             29072        13.505654
AMT_REQ_CREDIT_BUREAU_YEAR            29072        13.505654

In [46]:
# Define the list of thresholds to check
thresholds = [10, 20, 30, 40, 50, 55, 60, 70, 80, 90]

# Calculate the count for each threshold and store in a list of dictionaries
results = []
for t in thresholds:
    # Count columns where missing_percent is greater than the current threshold
    count = (missing_summary['missing_percent'] > t).sum()
    results.append({'Threshold': f'> {t}%', 'Column_Count': count})

print("Number of columns with missing values exceeding thresholds:")

# Create a DataFrame from the results list to display as a table
results_table = pd.DataFrame(results)

# Display the final table
results_table

Number of columns with missing values exceeding thresholds:

  Threshold  Column_Count
0     > 10%            57
1     > 20%            50
2     > 30%            50
3     > 40%            49
4     > 50%            41
5     > 55%            27
6     > 60%            17
7     > 70%             0
8     > 80%             0
9     > 90%             0

In [ ]:
# Count the number of rows with at least one mising value
rows_with_missing = df_orig.isnull().any(axis=1).sum()

print(f"Total rows: {total_rows}")
print(f"The number of rows having missing values: {rows_with_missing}")

Total rows: 215258
The number of rows having missing values: 209297

In [14]:
# Calculate the percentage of missing values for each row
# axis=1 implies operation along columns, effectively summing nulls in each row
row_missing_percent = (df_orig.isnull().sum(axis=1) / total_cols) * 100

# Define thresholds to analyze the severity of missing data per row
thresholds = [10, 20, 30, 40, 50, 60, 70, 80]

# List to store results for DataFrame creation
results_list = []

# Loop through thresholds to count rows with missing data exceeding that percentage
for t in thresholds:
    # Count rows where missing percentage is greater than the current threshold
    count = (row_missing_percent > t).sum()
    
    # Calculate the percentage of such rows relative to the total dataset
    percent_of_total_rows = (count / total_rows) * 100
    
    # Append results to the list
    results_list.append({
        'Threshold (%)': t,
        'Count (Rows > Threshold)': count,
        'Percentage of Total Rows (%)': round(percent_of_total_rows, 2)
    })

# Convert the list of results into a DataFrame (table format)
results_df = pd.DataFrame(results_list)

# Print the table
print(f"Total rows in dataset: {total_rows}\n")
results_df

Total rows in dataset: 215258

   Threshold (%)  Count (Rows > Threshold)  Percentage of Total Rows (%)
0             10                    147004                         68.29
1             20                    120279                         55.88
2             30                    107657                         50.01
3             40                     61584                         28.61
4             50                         0                          0.00
5             60                         0                          0.00
6             70                         0                          0.00
7             80                         0                          0.00

In [ ]:
df_orig['NAME_CONTRACT_TYPE'].value_counts(dropna=False)

NAME_CONTRACT_TYPE
Cash loans         194860
Revolving loans     20398
Name: count, dtype: int64

In [17]:
df_orig['FLAG_OWN_CAR'].value_counts(dropna=False)

FLAG_OWN_CAR
N    142102
Y     73156
Name: count, dtype: int64

`OWN_CAR_AGE` - `142102`

In [18]:
df_orig[(df_orig['FLAG_OWN_CAR'] == 'Y') & (df_orig['OWN_CAR_AGE'].isnull())]

,ID,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
37074,181231,0,Cash loans,F,Y,N,0,112500.0,301464.0,22068.0,238500.0,NaN,Commercial associate,Secondary / secondary special,Married,House / apartment,0.018850,-18667,-4442,-925.0,-2203,NaN,1,1,0,1,0,1,Medicine staff,2.0,2,2,WEDNESDAY,14,0,0,0,0,1,1,Medicine,NaN,0.501713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,4.0,7.0,1.0,-1705.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
180086,30897,0,Cash loans,M,Y,N,1,495000.0,1006920.0,45630.0,900000.0,Unaccompanied,Working,Higher education,Separated,House / apartment,0.030755,-16030,-1889,-10088.0,-4879,NaN,1,1,1,1,0,0,Managers,2.0,2,2,TUESDAY,16,0,0,0,0,0,0,Construction,0.339286,0.663192,0.145543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1477.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

`house_cols`

In [22]:
df_orig['FLAG_OWN_REALTY'].value_counts(dropna=False)

FLAG_OWN_REALTY
Y    149270
N     65988
Name: count, dtype: int64

In [23]:
df_orig['NAME_HOUSING_TYPE'].value_counts(dropna=False)

NAME_HOUSING_TYPE
House / apartment      191154
With parents            10321
Municipal apartment      7798
Rented apartment         3371
Office apartment         1831
Co-op apartment           783
Name: count, dtype: int64

`NAME_TYPE_SUITE`

In [24]:
df_orig['NAME_TYPE_SUITE'].value_counts(dropna=False)

NAME_TYPE_SUITE
Unaccompanied      173985
Family              28107
Spouse, partner      7983
Children             2312
Other_B              1190
NaN                   882
Other_A               605
Group of people       194
Name: count, dtype: int64

`OCCUPATION_TYPE`

In [25]:
df_orig[df_orig['DAYS_EMPLOYED'] == 0]

,ID,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
165864,121625,1,Cash loans,F,N,Y,1,112500.0,134775.0,7438.5,112500.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.007020,-15053,0,-4598.0,-4385,NaN,1,1,1,1,1,0,Sales staff,3.0,2,2,MONDAY,10,0,0,0,1,0,1,Self-employed,NaN,0.558081,0.609276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-614.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
177622,23691,0,Cash loans,F,N,N,2,189000.0,983299.5,36571.5,904500.0,Family,Working,Higher education,Separated,House / apartment,0.025164,-12609,0,-2116.0,-4452,NaN,1,1,0,1,0,0,NaN,3.0,2,2,FRIDAY,8,0,0,0,0,0,0,Business Entity Type 1,0.409224,0.323724,0.379100,0.0825,0.0563,0.9906,0.8708,0.0178,0.08,0.069,0.375,0.4167,0.0894,0.0672,0.1,0.0,0.0,0.084,0.0584,0.9906,0.8759,0.0179,0.0806,0.069,0.375,0.4167,0.0915,0.0735,0.1042,0.0,0.0,0.0833,0.0563,0.9906,0.8725,0.0179,0.08,0.069,0.375,0.4167,0.091,0.0684,0.1018,0.0,0.0,org spec account,block of flats,0.0088,Block,No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0

`social_circle_cols`

In [29]:
df_orig[df_orig['OBS_30_CNT_SOCIAL_CIRCLE'] == 0].shape

(114671, 122)

In [30]:
df_orig['OBS_30_CNT_SOCIAL_CIRCLE'].value_counts(dropna=False)

OBS_30_CNT_SOCIAL_CIRCLE
0.0      114671
1.0       33964
2.0       20983
3.0       14359
4.0        9962
5.0        6667
6.0        4471
7.0        3080
8.0        2071
9.0        1416
10.0        952
NaN         712
11.0        600
12.0        464
13.0        273
14.0        180
15.0        122
16.0         94
17.0         65
18.0         32
19.0         30
21.0         22
20.0         20
22.0         17
23.0          8
24.0          6
27.0          5
25.0          5
26.0          2
28.0          1
47.0          1
30.0          1
348.0         1
29.0          1
Name: count, dtype: int64

In [31]:
# List of 4 variables related to "Social Circle"
social_circle_cols = [
    'OBS_30_CNT_SOCIAL_CIRCLE',
    'DEF_30_CNT_SOCIAL_CIRCLE',
    'OBS_60_CNT_SOCIAL_CIRCLE',
    'DEF_60_CNT_SOCIAL_CIRCLE'
]

# 1. Filter rows with missing values for each column in DataFrame df_orig
missing_obs30 = df_orig[df_orig[social_circle_cols[0]].isnull()]
missing_def30 = df_orig[df_orig[social_circle_cols[1]].isnull()]
missing_obs60 = df_orig[df_orig[social_circle_cols[2]].isnull()]
missing_def60 = df_orig[df_orig[social_circle_cols[3]].isnull()]

# 2. Get the indices of the missing rows
idx_obs30 = set(missing_obs30.index)
idx_def30 = set(missing_def30.index)
idx_obs60 = set(missing_obs60.index)
idx_def60 = set(missing_def60.index)

# 3. Intersect the indices to find the commonly missing rows
common_idx = idx_obs30 & idx_def30 & idx_obs60 & idx_def60

# 4. Check if all sets of missing indices are identical
all_same = (idx_obs30 == idx_def30 == idx_obs60 == idx_def60)

# Print the check result
print(f"Do the missing values across the four Social Circle variables ({social_circle_cols[0]}, ..., {social_circle_cols[-1]}) occur in the SAME set of rows?", all_same)

# Print the total count of identical missing rows
print("Total count of identical missing rows (missing values) across the 4 columns:", len(common_idx))

Do the missing values across the four Social Circle variables (OBS_30_CNT_SOCIAL_CIRCLE, ..., DEF_60_CNT_SOCIAL_CIRCLE) occur in the SAME set of rows? True
Total count of identical missing rows (missing values) across the 4 columns: 712

In [43]:
# Select the 712 rows identified as having common missing values in the Social Circle variables
common_idx = list(common_idx)
df_subset = df_orig.loc[common_idx]

# Calculate the number of missing values for each of the 712 rows across ALL columns
missing_count_per_row = df_subset.isnull().sum(axis=1)

# Calculate the percentage of missing values for each row
missing_percentage_per_row = (missing_count_per_row / total_cols) * 100

# Define the percentage thresholds
thresholds = [3, 4, 5, 10, 20, 30, 40, 50, 60, 70, 80]

# Initialize a dictionary to store the results
results = {}

# Iterate through the thresholds and count the number of rows exceeding each threshold
for threshold in thresholds:
    # Count rows where the missing percentage is strictly greater than the current threshold
    count = (missing_percentage_per_row > threshold).sum()
    results[f"> {threshold}%"] = count

# Create a DataFrame for a clean output table
results_df = pd.DataFrame(
    list(results.items()),
    columns=['Missing Percentage Threshold', 'Number of Rows Exceeding Threshold']
)

# Set the index for better readability
results_df = results_df.set_index('Missing Percentage Threshold')

# Print the final results
print("--- Analysis of Row-wise Missing Percentage in the 712 Common Missing Rows ---")
print(f"Total number of columns used for percentage calculation: {total_cols}")
print(f"Total number of rows analyzed: {len(common_idx)}")
print("\nResults Table:")
results_df

--- Analysis of Row-wise Missing Percentage in the 712 Common Missing Rows ---
Total number of columns used for percentage calculation: 122
Total number of rows analyzed: 29072

Results Table:

                              Number of Rows Exceeding Threshold
Missing Percentage Threshold
> 3%                                                       29072
> 4%                                                       29072
> 5%                                                       29072
> 10%                                                      21429
> 20%                                                      19437
> 30%                                                      16067
> 40%                                                      15200
> 50%                                                          0
> 60%                                                          0
> 70%                                                          0
> 80%                                                          0

`credit_bureau_cols`

In [42]:
# List of 6 variables related to "Credit Bureau Enquiries"
credit_bureau_cols = [
    'AMT_REQ_CREDIT_BUREAU_HOUR',
    'AMT_REQ_CREDIT_BUREAU_DAY',
    'AMT_REQ_CREDIT_BUREAU_WEEK',
    'AMT_REQ_CREDIT_BUREAU_MON',
    'AMT_REQ_CREDIT_BUREAU_QRT',
    'AMT_REQ_CREDIT_BUREAU_YEAR'
]

# 1. Filter rows with missing values for each column in DataFrame df_orig
missing_hour = df_orig[df_orig[credit_bureau_cols[0]].isnull()]
missing_day = df_orig[df_orig[credit_bureau_cols[1]].isnull()]
missing_week = df_orig[df_orig[credit_bureau_cols[2]].isnull()]
missing_mon = df_orig[df_orig[credit_bureau_cols[3]].isnull()]
missing_qrt = df_orig[df_orig[credit_bureau_cols[4]].isnull()]
missing_year = df_orig[df_orig[credit_bureau_cols[5]].isnull()]

# 2. Get the indices of the missing rows
idx_hour = set(missing_hour.index)
idx_day = set(missing_day.index)
idx_week = set(missing_week.index)
idx_mon = set(missing_mon.index)
idx_qrt = set(missing_qrt.index)
idx_year = set(missing_year.index)

# 3. Intersect the indices to find the commonly missing rows
common_idx = idx_hour & idx_day & idx_week & idx_mon & idx_qrt & idx_year

# 4. Check if all sets of missing indices are identical
all_same = (idx_hour == idx_day == idx_week == idx_mon == idx_qrt == idx_year)

# Print the check result
print(f"Do the missing values across the six Credit Bureau Enquiry variables ({credit_bureau_cols[0]}, ..., {credit_bureau_cols[-1]}) occur in the SAME set of rows?", all_same)

# Print the total count of identical missing rows
print("Total count of identical missing rows (missing values) across the 6 columns:", len(common_idx))

Do the missing values across the six Credit Bureau Enquiry variables (AMT_REQ_CREDIT_BUREAU_HOUR, ..., AMT_REQ_CREDIT_BUREAU_YEAR) occur in the SAME set of rows? True
Total count of identical missing rows (missing values) across the 6 columns: 29072

In [45]:
common_idx = list(common_idx)
df_subset = df_orig.loc[common_idx]

# Calculate the number of missing values for each row across ALL columns
missing_count_per_row = df_subset.isnull().sum(axis=1)

# Calculate the percentage of missing values for each row
missing_percentage_per_row = (missing_count_per_row / total_cols) * 100

# Define the percentage thresholds
thresholds = [5, 10, 20, 30, 40, 50, 60, 70, 80]

# Initialize a dictionary to store the results
results = {}

# Iterate through the thresholds and count the number of rows exceeding each threshold
for threshold in thresholds:
    # Count rows where the missing percentage is strictly greater than the current threshold
    count = (missing_percentage_per_row > threshold).sum()
    results[f"> {threshold}%"] = count

# Create a DataFrame for a clean output table
results_df = pd.DataFrame(
    list(results.items()),
    columns=['Missing Percentage Threshold', 'Number of Rows Exceeding Threshold']
)

# Set the index for better readability
results_df = results_df.set_index('Missing Percentage Threshold')

# Print the final results
print("--- Analysis of Row-wise Missing Percentage in Common Missing Rows for Credit Bureau Enquiries ---")
print(f"Total number of columns used for percentage calculation: {total_cols}")
print(f"Total number of rows analyzed: {len(common_idx)}")
print("\nResults Table:")
results_df

--- Analysis of Row-wise Missing Percentage in Common Missing Rows for Credit Bureau Enquiries ---
Total number of columns used for percentage calculation: 122
Total number of rows analyzed: 29072

Results Table:

                              Number of Rows Exceeding Threshold
Missing Percentage Threshold
> 5%                                                       29072
> 10%                                                      21429
> 20%                                                      19437
> 30%                                                      16067
> 40%                                                      15200
> 50%                                                          0
> 60%                                                          0
> 70%                                                          0
> 80%                                                          0

In [48]:
# 1. Check for duplicates in the 'ID' column
has_duplicates = df_orig['ID'].duplicated().any()

# 2. Count the number of duplicate IDs
num_duplicates = df_orig['ID'].duplicated().sum()

# 3. Get the total number of unique IDs
num_unique_ids = df_orig['ID'].nunique()

# 4. Get the total number of rows
total_rows = df_orig.shape[0]

# Print the results
print("--- Check Duplicate Status for 'ID' Column ---")
print(f"Tổng số lượng hàng (Total rows): {total_rows}")
print(f"Tổng số lượng ID duy nhất (Unique IDs): {num_unique_ids}")
print("-" * 40)

if has_duplicates:
    print(f"KẾT QUẢ: CÓ ID bị lặp lại (Duplicates exist): {has_duplicates}")
    print(f"Số lượng ID bị lặp lại (Total duplicate entries): {num_duplicates} dòng.")
    print("Điều này có nghĩa là có ít nhất một ID xuất hiện nhiều hơn một lần.")
else:
    print(f"KẾT QUẢ: KHÔNG có ID nào bị lặp lại (Duplicates exist): {has_duplicates}")
    print("Cột 'ID' có các giá trị hoàn toàn duy nhất.")

--- Check Duplicate Status for 'ID' Column ---
Tổng số lượng hàng (Total rows): 215258
Tổng số lượng ID duy nhất (Unique IDs): 215258
----------------------------------------
KẾT QUẢ: KHÔNG có ID nào bị lặp lại (Duplicates exist): False
Cột 'ID' có các giá trị hoàn toàn duy nhất.

In [50]:
df_orig['NAME_EDUCATION_TYPE'].value_counts()

NAME_EDUCATION_TYPE
Secondary / secondary special    152933
Higher education                  52389
Incomplete higher                  7164
Lower secondary                    2656
Academic degree                     116
Name: count, dtype: int64